html{
	margin: 0;
	padding: 0;
	height: 100%
}

body {
	position: absolute;
	top: 0
	bottom: 0;
	left: 0;
	right: 0;
	background-color: teal;
}

#sidebar {
	width: 180px;
	margin-top: 70px;
	position: fixed;
	left: 0;
	border-right: 5px solid black;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	background-color: #66CCFF
}

.sidemenu {
	list-style: none;
	padding: 10px
}

.sidemenu li{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}

.button {
	padding: 5px 5px;
	border: 1px solid aqua;
	color: aqua;
	background-color: blue;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Josefin Slab', serif;
}

.button:hover{
	margin: 2px 0 0 2px;

}

.right-banner {
	position: fixed;
	right: 0
}
#wrapper {
	width: 720px;
	height: 100%;
	margin: 0 auto;
	background-color: #66CCFF;

}


h1 {
	text-align: center;
	font-family: 'Josefin Slab', serif;
	padding-top: 20px;
	background-color: #66CCFF;
}

nav {
	width: 700px;
	padding: 10px;
	margin-left: 0;
	margin-right: 120px;
	background: teal
}

.navmenu {
	list-style: none;
	padding: 0;
	width: 720px;
	margin: 0
}

.navmenu li{
	display: inline;
	padding: 20px
}

footer{
	clear: both;
}

.image {
	width: 720px;
	margin: 0 auto
}

img {
	margin: 0 auto;

}

article {
	width: 720px;
	margin: 0 auto;
	padding-top: 10px;

}

.text {
	font-size: larger;
	font-family: 'Josefin Slab', serif;
}





