body {
	background-image: "savethewhales-background2.jpg"
	margin: 0;
}

#sidebar {
	width: 200px;
	position: fixed;
	left: 0
}

.sidemenu {
	list-style: none;
	padding: 10px
}

.sidemenu li{
	display: block;
}

.button {
	padding: 10px 10px;
	border: 1px solid aqua;
	color: aqua;
	background-color: blue;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

.button:hover{
	margin: 2px 0 0 2px;
}

#wrapper {
	width: 960px;
	margin: 0 auto
}

h1 {
	text-align: center;
}

nav {
	width: 960px;
	margin: 0 auto
}

.navmenu {
	list-style: none;
	padding: 0;
}

.navmenu li{
	display: inline;
}

.clear {
	clear: both;
}

article {
	width: 720px;
	margin: 0 auto
}

.text {
	font-style: 
}





