html {
	background-color: teal;
	margin: 0
}

body {
	margin: 0
}

#sidebar {
	width: 200px;
	margin-top: 70px;
	position: fixed;
	left: 0
}

.sidemenu {
	list-style: none;
	padding: 10px
}

.sidemenu li{
	display: block;
}

.button {
	padding: 5px 5px;
	border: 1px solid aqua;
	color: aqua;
	background-color: blue;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-family: 'Josefin Slab', serif;
}

.button:hover{
	margin: 2px 0 0 2px;
}

#wrapper {
	width: 720px;
	height: 100%;
	margin: 0 auto;
	padding-top:10px;
}

h1 {
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

nav {
	width: 700px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 120px;
	background: teal
}

.navmenu {
	list-style: none;
	padding: 0;
	width: 720px;
	margin: 0
}

.navmenu li{
	display: inline;
	padding: 20px
}

footer{
	clear: both;
}

.image {
	width: 720px;
	margin: 0 auto
}

img {
	margin: 0 auto;

}

article {
	width: 720px;
	margin: 0 auto
}

.text {
	font-size: larger;
	font-family: 'Josefin Slab', serif;
}





